@charset "utf-8";
A.SelectedLeftMenu
{
    TEXT-decoration : none;
	COLOR:#0000EF;
}
A.SelectedLeftMenu:active
{
    TEXT-decoration : underline;
}
A.SelectedLeftMenu:link
{
    TEXT-decoration : none;
}
A.SelectedLeftMenu:visited
{
    TEXT-decoration : none;
}
A.SelectedLeftMenu:hover
{
    TEXT-decoration : underline;
	COLOR:#F00;
}